body{
margin:0;
background:black;
color:white;
font-family:Arial;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:darkblue;
}

nav a{
margin:10px;
color:white;
text-decoration:none;
}

button{
background:cyan;
padding:10px;
border:none;
margin:5px;
border-radius:10px;
cursor:pointer;
}

.hero{
padding:120px;
text-align:center;
background:
linear-gradient(black,darkblue);
}

input{
padding:10px;
margin:10px;
}

.expert{
background:darkblue;
width:300px;
margin:20px auto;
padding:20px;
border-radius:20px;
}

footer{
background:darkblue;
padding:30px;
text-align:center;
}

.modal{
position:fixed;
inset:0;
background:rgba(0,0,0,.8);
}

.modalBox{
width:300px;
margin:150px auto;
background:black;
padding:20px;
border:2px solid cyan;
}